<h2 class="text-center">Deposit Money</h2>
<hr />
<div class="container" id="gtco-footer">
  <div>
    <div class="form-group">
      <input
        class="form-control"
        placeholder="Enter accountId"
        name="accountId"
        [(ngModel)]="accountId"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        placeholder="Enter Amount"
        name="amount"
        [(ngModel)]="amount"
      />
    </div>

    <div class="form-group">
      <input
        class="form-control"
        placeholder="Enter Customer Id"
        name="customerId"
        [(ngModel)]="customerId"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        placeholder="Enter Password"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <button type="button" (click)="withdraw()" class="btn btn-primary">
      Withdraw Amount
    </button>
  </div>
</div>
